body {
    background-color:rgb(109, 24, 24);
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background-image: url("clock.jpg");

    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 60px, 0;
    

}

h1{
    text-align: center;
    color: #642b1a;
     font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 900;
}
h2{
    margin: 0 ;
    font-size: 28px;
}

select{
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: rgb(238, 202, 202);
}

    


.city{
    display: flex;
    justify-content: space-between;
    margin : 20px 0;
    padding: 10px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(238, 202, 202);
    
}

.city:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.time{
    font-size: 48px;
    font-weight: bold;
    



}


.date{
    opacity: 0.6;
    font-size: 15px;
}
.time small{
    font-size: small;
    vertical-align: middle;
}

footer{
    color:rgb(238, 202, 202);
    text-align: center;
    opacity: 0.5;
   
}